* {
  margin: 0;
  padding: 0;
}

div {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header header"
  "aside main aside2"
  "aside footer aside2";

  grid-template-columns: 350px 1fr 350px;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 20px;
  grid-area: main;
}

header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  grid-area: header;
}

aside:nth-child(1) {
  padding: 50px;
  border-right: 1px solid #ddd;
  grid-area: aside;
}

aside:nth-child(2) {
  padding: 30px;
  border-left: 1px solid #ddd;
  grid-area: aside2;
}

footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  grid-area: footer;
}